<h3>Welcome back,  <%= current_user.name.capitalize %> </h3>
<h3>Your Dashboard</h3>
<p>Your Upcoming Bookings</p>
  <% @my_bookings.each do |booking| %>
    <%= link_to  booking.life.name , life_booking_path(booking.life, booking.id)  %>
    <%= link_to 'ðŸ—‘ï¸', booking_path(booking.id), data: { "turbo-method": :delete } %>
  <br/>
  <% end %>
  <p>Your Live's Bookings</p>
<% @my_rentals.each do |life| %>
<%= User.find_by(id:life.user_id).name %>
<br/>has booked your life
from <%= life.start_date %>
until <%= life.end_date %>
<% end %>
<%# where life_id = current.user %>
