<div class="container">
<h1>Your are Booking <%= @life.name %></h1>
<%= simple_form_for [@life, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit "Complete Booking", class: "btn btn-primary" %>
<% end %>
</div>
